@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.eot');
    src: url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Black.woff2') format('woff2'),
        url('Gilroy-Black.woff') format('woff'),
        url('Gilroy-Black.ttf') format('truetype'),
        url('Gilroy-Black.svg#Gilroy-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype'),
        url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

